* {
  margin: 0;
  padding-inline-start: 0;
}

#hero-title {
	text-align: center;
	color: black;
	font-family: "Raleway", sans-serif;
	font-size: 40px;
	font-weight: bold;
}

.header {
  background-color: aqua;
  height: 60px;
  padding: 20px;
}

.menu {
  background-color: antiquewhite;
}

.menu ul, li, a {
  display: inline-block;
  list-style: none;
  text-decoration: none;
  margin: 10px;
  font-family: "Arvo", serif;
  font-size: 20px;
}