* {
	margin: 0;
	padding-inline-start: 0;
}

#hero-title {
	text-align: center;
	color: #343a40;
	font-family: "Raleway", sans-serif;
	font-size: 40px;
	font-weight: bold;
}

.header {
	background-color: #e9ecef;
	height: 60px;
	padding: 20px;
}

.menu {
	background-color: #343a40;
}

.menu ul,
li,
a {
	display: inline-block;
	list-style: none;
	text-decoration: none;
	margin: 10px;
	font-family: "Arvo", serif;
	font-size: 20px;
	color: #adb5bd;
}

.main {
	background-color: #495057;
	text-align: center;
	width: 100%;
	margin: auto;
	display: inline-block;
}

.arcticle {
	padding: 12px;
	display: inline-block;
	width: 600px;
	text-align: center;
	margin: auto;

}

h2 {
	font-family: "Raleway", sans-serif;
	padding: 20px;
}

p {
	color: #e9ecef;
	font-family: Georgia, Times New Roman, Times, serif;
	font-weight: 400;
	font-size: 19px;
	line-height: 1.632;
	letter-spacing: 0.1px;
	margin-bottom: 24px;
}

.left-pictures {
  margin-top: 50px;
  display: inline-block;
	width: 250px;
	text-align: center;
  margin: auto;
  background-color: red;
}

.right-pictures {
  display: inline-block;
	width: 250px;
	text-align: center;
  right: 50px;
  background-color: red;
}

img {
  width: 150px;
}